@use "../../styles/typography.scss";

.forget-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-surface);
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 620px;
    background: var(--bg-raised);
    box-shadow: var(--shadow-x-small);
    border-radius: var(--radius-7);

    .header {
      padding: var(--space-8) var(--space-9);
      border-bottom: 0.5px solid var(--border-subtle);
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-6);

      .head-icon {
        width: 44px;
        height: 44px;
        border-radius: var(--radius-10);
        background: var(--bg-primary-00);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .head-info {
        h2 {
          //   @include typography.label-md;
          margin: 0px;
          color: var(--text-neutral-default);
        }

        p {
          //   @include typography.para-sm;
          color: var(--text-neutral-subtler);
          margin: 0;
        }
      }
    }

    .react-aria-Form {
      display: flex;
      flex-direction: column;
      gap: var(--space-6);
      padding: 20px;

      .form-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space-6);
      }
    }

    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;

      .react-aria-Link {
        // @include typography.subheading-2xs;
        text-decoration: underline;
        color: var(--text-primary-500);
      }
    }

    .footer {
      padding: var(--space-7) var(--space-9);
      background: var(--bg-sunken);
      border-top: 1px solid var(--border-subtlest);
      border-bottom-left-radius: var(--radius-7);
      border-bottom-right-radius: var(--radius-7);
      display: flex;
      justify-content: flex-end;

      .react-aria-Button {
        width: fit-content;
        border-radius: var(--radius-10);
      }
    }
    .btn-grp {
      display: flex;
      flex-direction: column;
      gap: 16px;
      // margin-top: 16px;

      .google-auth {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
    }
  }

  .signup-link {
    text-align: center;

    p {
      //   @include typography.subheading-xs;
      color: var(--text-neutral-subtlest);
      margin: 0;

      .Link {
        //   @include typography.subheading-2xs;
        text-decoration: underline;
        color: var(--text-primary-500);
      }

      //   span {
      //     color: var(--text-neutral-invert);
      //     text-decoration: underline;
      //     font-weight: 500;
      //   }
    }
  }

  .contact {
    position: absolute;
    bottom: var(--space-6);
    right: var(--space-12);
    // @include typography.para-sm;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    p {
      color: var(--text-neutral-invert);
      text-decoration: underline;
    }
  }
}

.code-info {
  //   margin-top: 16px;
  p {
    // @include typography.label-sm;
    color: var(--text-neutral-subtler);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .react-aria-Button {
      width: fit-content;
      //   @include typography.label-sm;
      color: var(--text-primary-500);
      text-decoration: underline;
      background: none;
      border: none;
      box-shadow: none;
    }

    span {
      color: var(--text-primary-500);
      font-weight: 500;
    }
  }
}
